.example-code { background-color:#fff4c8;border:1px dashed #ffcc00; padding:3px; margin:20px; font-family:Courier; }
.inline-code { font-family:Courier; }
.example-bullets { background-color:#fff4c8;border:1px dashed #ffcc00; margin:20px; padding:23px;}
table { background-color:#fff4f4; border:2px solid; }
table.example { background-color:#fff4c8;border:1px dashed #ffcc00; padding:3px; margin:20px; text-align:left; }
table.example th, table.example td { padding-right: 20px; }
.field-white { background-color:#ffffff; }
.table-heading { background-color:#fff4c8; }

body {
	color:#333333;
	font-family:Helvetica,Arial,sans-serif;
	font-size:12px;
	line-height:1.3em;
	margin:0;
}

a:link, a:visited {
	font-weight:normal;
	text-decoration:none;
}

a:hover {
	font-weight:normal;
	text-decoration:underline;
}
