.example-code { background-color:#fff4c8;border:1px dashed #ffcc00; padding:3px; margin:20px; font-family:Courier; }
.example-bullets { background-color:#fff4c8;border:1px dashed #ffcc00; margin:20px; padding:23px;}
table { background-color:#fff4f4; border:2px solid; }
.field-white { background-color:#ffffff; }
.table-heading { background-color:#fff4c8; }
* { font-family:Arial }
